dist: xenial

addons:
  apt:
    packages:
      - "python3"
      - "python3-pip"
      - "python3-setuptools"

cache:
  directories:
    - $HOME/.cache/pip

language: go

go:
  - "1.10.x"
  - "1.11.x"
  - master

script:
  - make CI="${CI}" TRAVIS="${TRAVIS}" ci-script
