apiVersion: apps/v1
kind: Deployment
metadata:
  name: svt-go-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      name: svt-go-operator
  template:
    metadata:
      labels:
        name: svt-go-operator
    spec:
      containers:
        - name: svt-go-operator
          image: docker.io/hongkailiu/svt-go-operator:a003
          ports:
          - containerPort: 60000
            name: metrics
          command:
          - svt-go-operator
          imagePullPolicy: Always
          env:
            - name: WATCH_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: OPERATOR_NAME
              value: "svt-go-operator"
